link(href="/css/style.css", rel="stylesheet")
script(src="../javascripts/index.js")
div(class="content")
  div(class="header")
    div(class="column") Master
    div(class="column") QA
    div(class="column") Diff
  div(class="row images")
    img(class="column", src="https://s3.amazonaws.com/kalefive.unique.bucket.name/master/cnnImage.png")
    img(class="column", src="https://s3.amazonaws.com/kalefive.unique.bucket.name/qa/cnnImage.png")
    img(class="column diff", src="https://s3.amazonaws.com/kalefive.unique.bucket.name/diff/cnnImage.png")
div(id="root")
